:root {
  --font-size3: 2rem;
  --font-color: #fff;
  --background-gradient: radial-gradient(80% 80% at 0% 100%, hsla(285,10%,63%,1) 0%, hsla(285,10%,63%,0) 100%),
                         radial-gradient(80% 80% at 100% 0%, hsla(285,10%,63%,1) 0%, hsla(285,10%,63%,0) 100%),
                       hsla(195,46%,61%,1);
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  font-family: Helvetica, sans-serif;
  color: var(--font-color);
  box-sizing: border-box;
}


// Header

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px;
  z-index: 20;

  #NavContainer {
    position: absolute;
    top: 0;
    left: -36ch;
    height: 100vh;
    width: 36ch;
    z-index: 10;
    transform: translateX(0%);
    transition: transform 500ms ease-in-out;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    padding-top: 80px;
    
    background: hsl(197, 67%, 20%);
    
    
    a {
      color: #fff;
      text-decoration: none;
      font-size: var(--font-size3);
      margin: 2em 0 2em 50px;
    }

    &.open {
        transform: translateX(99%);
    }
  }

  #HamburgerContainer {
    width: 36px;
    height: 28px;
    z-index: 15;
  
    #Hamburger {
      --line-height: 3px;
      width: 100%;
      height: var(--line-height);
      background: var(--font-color);
      transform: translateY(12px);
      transition: transform 200ms ease-in-out, background-color 100ms ease;
      
      &::before, &::after {
        content: '';
        position: absolute;
        background-color: var(--font-color);
        width: inherit;
        height: inherit;
        transition: inherit;
      }
      
      &::before {
        transform: translateY(-12px);
        transition: transform 200ms ease-in-out, background-color 50ms linear;
      }
    
      &::after {
        transform: translateY(12px);
        transition: transform 200ms ease-in-out, background-color 50ms linear;
      }
    
    }
    &.open {
      #Hamburger {
        background-color: rgba(255, 255, 255, 0);
        
        &::before {
          transform: rotate(-45deg);
          background-color: #fff;
          transition: transform 200ms ease-in-out, background-color 50ms linear 150ms;
        }
        &::after {
          transform: rotate(45deg);
          background-color: #fff;
          transition: transform 200ms ease-in-out, background-color 50ms linear 150ms;
        }
      }
    }
  }

  #Heading {
    z-index: 8;

    h1 {
      font-size: clamp(0px, 6vw, 50px);
    }

    p {
      font-size: clamp(0px, 2vw, 16px);
    }
    
    h1, p {
      margin: 0;
      text-align: end;
      text-transform: uppercase;
    }
  }
  
  #KontaktContainer {
    width: 4em;
    font-size: 1.4rem;
    height: 5ex;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: rotateY(180deg);
    z-index: 9;
    
    &:hover {
      img {
        transform: rotateZ(12deg);
      }
    }
    
    #KontaktHeliMoverHoriz {
      padding: 0 0 0 5%;
      transition: 4000ms ease-in-out;
      
      &.kontaktOpen {
        transform: translateX(88vw);
      }
      
      & > #KontaktHeliMoverVert.kontaktOpen {
        animation: animateKontaktHeliVert 4s cubic-bezier(.56,-0.21,.52,1.02) 100ms forwards;
      }
      
      & > #KontaktHeliMoverVert.kontaktClosed {
        animation: animateKontaktHeliVertRev 3900ms cubic-bezier(.45,.15,.51,1.22) 5ms forwards;
      }

      @keyframes animateKontaktHeliVertRev {
        0% {
          transform: translateY(45vh);
        }
        100% {
          transform: translateY(0vh);
        }
      }

      @keyframes animateKontaktHeliVert {
        0% {
          transform: translateY(0vh);
        }
        100% {
          transform: translateY(45vh);
        }
      }
    }
    
    img {
      width: 90%;
      transform-origin: bottom right;
      transition: 200ms ease-in-out;
      
      &.kontaktOpen {
        animation: KontaktHeliRotate 1000ms cubic-bezier(.49,.03,.4,1.37) 3000ms forwards;
        transform: rotateZ(12deg);
      }
      
      &.kontaktClosed {
        animation: KontaktHeliRotateRev 4000ms ease 1ms forwards;
        transform: rotateZ(0deg);
      }

      @keyframes KontaktHeliRotateRev {
        0% {
          transform: rotateZ(0deg);
        }
        10% {
          transform: rotateZ(-12deg);
        }
        85% {
          transform: rotateZ(-12deg);
        }
        100% {
          transform: rotateZ(0deg);
        }
      }
        
      @keyframes KontaktHeliRotate {
        from {
          transform: rotateZ(12deg);
        }
        to {
          transform: rotateZ(0deg);
        }
      }

    }

    h2 {
      margin: 0;
      font-size: inherit;
      transform: rotateY(-180deg);
      transition: color 600ms linear;
      color: var(--font-color);

      &.kontaktOpen {
        color: rgba(255, 255, 255, 0);
      }
    }
  }

  #KontaktSection {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: -100vw;
    z-index: 7;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 800ms ease-in-out 100ms, opacity 1000ms ease-in-out 200ms;
    transform: translateX(0%);
    opacity: 0;

    background: var(--background-gradient);

    & > div {
      display: grid;
      min-width: 80vw;
      grid-template-columns: repeat(auto-fit, 33ch);
      align-items: center;
      justify-content: center;
      justify-items: center;
      
    
      img {
        width: 200px;
        height: 200px;
      }

      div {
        text-transform: uppercase;
      }
    }

    &.kontaktOpen {
      transform: translateX(-100%);
      opacity: 1;
    }
  }
}



main {
  transition: opacity 800ms ease-in-out;
  opacity: 100%;

  &.kontaktOpen {
    opacity: 60%;
  }
}

// Hero Section

#Hero {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  z-index: 98;

  background: var(--background-gradient);

  #TextBereichHero {
    position: absolute;
    top: 0;
    margin: 4em 0 10vh 10vw;
    font-size: clamp(16px, 6.2vw, 55px);
    height: 3.9em;
    overflow: hidden;

    div {
      transition: transform 500ms ease-in-out;
      position: relative;
    }

    h2 {
      margin: 0;
      font-size: inherit;
      text-transform: uppercase;
      line-height: 135%;
      height: 1.2em;
      overflow: hidden;

      span {
        display: block;
        transition: transform 600ms ease-in-out;
      }
    }

  }

  #KartenBereich {
    --horizontal-scroll-speed: 1400ms;
    $c: &;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: transform var(--horizontal-scroll-speed) cubic-bezier(.54,.42,.33,.99);

    @media screen and (max-width: 480px) {
      width: 400vw;
    }

    @media screen and (min-width: 480px) and (max-width: 640px) {
      width: 300vw;
    }

    @media screen and (min-width: 640px) and (max-width: 890px) {
      width: 200vw;
    }

    @media screen and (min-width: 890px) {
      width: 100vw;
    }

    #Karte {
      position: relative;
      width: 100%;
      left: 0;
    }
  
    #Heli {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 18px;
      offset-rotate: 0deg;
      transform-origin: center;
      transform: translateX(-8px) scale(150%);
      offset-distance: 3%;
      z-index: 1;
      transition: offset-distance var(--horizontal-scroll-speed) cubic-bezier(.54,.42,.33,.99);
    }
  
    #Pfad {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    #TestPfad {
      fill: none;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    #Wolken {
      animation: wolken 300s linear infinite;
    }

    #Wolken2 {
      animation: wolken2 300s linear infinite;
    }

    @keyframes wolken {
      0% {
        transform: translateX(0%);
        opacity: 1;
      }
      48% {
        transform: translateX(-100%);
        opacity: 1;
      }
      49% {
        transform: translateX(-100%);
        opacity: 0;
      }
      51% {
        transform: translateX(100%);
        opacity: 0;
      }
      52% {
        transform: translateX(100%);
        opacity: 1;
      }
      100% {
        transform: translateX(0%);
        opacity: 1;
      }
    }

    @keyframes wolken2 {
      0% {
        transform: translateX(100%) translateY(-100%);
        opacity: 1;
      }
      97% {
        transform: translateX(-100%) translateY(-100%);
        opacity: 1;
      }
      98% {
        transform: translateX(-100%) translateY(-100%);
        opacity: 0;
      }
      99% {
        transform: translateX(100%) translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(100%) translateY(-100%);
        opacity: 1;
      }
    }
  }  
}
