@use "sass:math";
@use "sass:color";

$font-scaler: 1.333;
$font-smaller: 1rem * math.pow($font-scaler, -2) * 1.2;
$font-small: 1rem * math.pow($font-scaler, -1) * 1.2;
$font-normal: 1rem * math.pow($font-scaler, 0) * 1.2;
$font-big: 1rem * math.pow($font-scaler, 1) * 1.2;
$font-bigger: 1rem * math.pow($font-scaler, 2) * 1.2;
$font-large: 1rem * math.pow($font-scaler, 3) * 1.2;
$font-color: #fff;
$dark-blue: #1e7799;
$background-gradient: radial-gradient(80% 80% at 0% 100%, hsla(285,10%,63%,1) 0%, hsla(285,10%,63%,0) 100%),
                      radial-gradient(80% 80% at 100% 0%, hsla(285,10%,63%,1) 0%, hsla(285,10%,63%,0) 100%),
                      hsla(195,46%,61%,1);

@font-face {
  font-family: BebasNeue;
  src: url('./Images/Bebas_Neue/BebasNeue-Regular.ttf');
}

* {
  font-family: BebasNeue;
  color: $font-color;
}

html {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

body {
  margin: 0;
}

nav {
  padding: 16px;
  height: fit-content;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;


  #HamburgerContainer {
    $height: 32px;
    font-size: $font-normal;
    height: $height;
    z-index: 20;
    width: 52px;
    cursor: pointer;
    display: flex;
    justify-content: center;

    #HamburgerMenu {
      position: fixed;
      top: 0;
      font-size: $font-bigger;
      left: -20ch;
      width: 20ch;
      height: 100vh;
      background: $dark-blue;
      box-sizing: border-box;
      cursor: default;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: $height * 3 0 $height * 3 3ch;
      align-items: flex-start;

      z-index: 10;
      will-change: transform;
      transition: transform 400ms ease-in-out;

      a {
        font-size: inherit;
        margin: 2em 0;
        cursor: pointer;
      }
    }

    #Hamburger {
      position: relative;
      background: $font-color;
      width: clamp(25px, 8vw, 52px);
      height: 4px;
      border-radius: 8px;
      transform: translateY(math.div($height, 2));
      will-change: transform;
      transition: background-color 400ms ease-in-out;
      z-index: 15;
      
      &::before, &::after {
        z-index: 15;
        transition: transform 400ms ease-in-out;
        position: absolute;
        content: '';
        width: inherit;
        height: 4px;
        background-color: $font-color;
        transform-origin: center;
      }

      &::before {
        transform: translateY(math.div($height, -2));
      }

      &::after {
        transform: translateY(math.div($height, 2));
      }
      
      @media screen and (max-width: 420px) {
        height: 3px;

        &::before {
          height: 3px;
          transform: translateY(math.div($height, -2.5));
        }
        
        &::after {
          height: 3px;
          transform: translateY(math.div($height, 2.5));
        }
      }
    }

    &.open {
      #Hamburger {
        background: color.adjust($font-color, $alpha: -1);

        &::before {
          z-index: 15;
          transform: rotateZ(405deg);
          background: $font-color;
        }
        
        &::after {
          z-index: 15;
          transform: rotate(-405deg);
          background: $font-color;
        }
      }

      #HamburgerMenu {
        transform: translateX(100%);
      }
    }
  }

  #Heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    z-index: 9;
    margin: 0 1em;
    width: 40vw;
    max-width: 475px;
    font-size: clamp(0px, 6vw, #{$font-large});
    
    img {
      width: 100%;
    }
  }

  #KontaktContainer {
    width: 9ch;
    font-size: clamp(20px, 2.5vw, 1.8rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    $animationDuration: 2000ms;
    cursor: pointer;
    
    #KontaktHeli {
      width: 70%;
      transition: 200ms ease-in-out;
    }

    #KontaktHeli:hover {
      transform: rotateZ(-12deg); 
    }

    #KontaktMoverHoriz {
      will-change: transform;
      transform: translateX(0vw);
      transition: transform $animationDuration ease-in-out;

      &.kontaktOpen {
        transform: translateX(calc(-100vw + 9ch + 24px));
      }

      &.kontaktClosed {
        transform: translateX(0vw);
      }

      @media screen and (max-width: 700px) {
        &.kontaktOpen {
          will-change: transform;
          transition: transform $animationDuration cubic-bezier(.86,.15,.55,.64);
          transform: translateX(calc(-50vw + 50% + 16px));
        }

        &.kontaktClosed {
          will-change: transform;
          transition: transform $animationDuration cubic-bezier(.68,.28,.69,.83);
          transform: translateX(0vw);
        }
      }

      #KontaktMoverVert {
        will-change: transform;
        transform: translateY(0vh);
        transition: transform $animationDuration cubic-bezier(.56,-0.1,.52,1.02);
        display: flex;
        justify-content: center;

        &.kontaktClosed {
          transition: transform $animationDuration cubic-bezier(.51,.14,.55,1);
        }
        
        &.kontaktOpen {
          transform: translateY(45vh);
        }
        
        @media screen and (max-width: 700px) {
          &.kontaktOpen {
            transform: translateY(calc(75vh + 50% + 16px));
          }
        }

        #BackArrow {
          position: absolute;
          width: 75%;
          transform: translateY(100%);
          opacity: 0;
        }
        
        #BackArrow.kontaktClosed {
          transition: opacity 100ms ease-in-out;
        }
        
        #BackArrow.kontaktOpen {
          transition: opacity 100ms 2000ms ease-in-out;
          opacity: 1;
        }

        #KontaktHeli {
          transform-origin: bottom left;
        }

        #KontaktHeli.kontaktClosed {
          animation: tilt_rev $animationDuration ease;

          @keyframes tilt_rev {
            15% {
              transform: rotateZ(12deg);
            }
            65% {
              transform: rotateZ(12deg);
            }
            90% {
              transform: rotateZ(-5deg);
            }
            100% {
              transform: rotateZ(0deg);
            }
          }
        }
        
        #KontaktHeli.kontaktOpen {
          animation: tilt $animationDuration ease;

          @keyframes tilt {
            15% {
              transform: rotateZ(-12deg);
            }
            55% {
              transform: rotateZ(-12deg);
            }
            85% {
              transform: rotateZ(5deg);
            }
            100% {
              transform: rotateZ(0deg);
            }
          }
        }
      }
    }

    @media screen and (hover: none) {
      #KontaktHeli:hover {
        transform: rotateZ(0deg);
      }
    }

    p {
      margin: 0;
      margin-top: 4px;
      opacity: 1;
      transition: opacity $animationDuration;

      &.kontaktOpen {
        opacity: 0;
      }
    }

  }

  #KontaktSection {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: -100vw;
    z-index: 7;
    font-size: clamp(0px, 4vw, #{$font-big});

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 800ms ease-in-out 100ms, opacity 1000ms ease-in-out 200ms;
    transform: translateX(0%);
    opacity: 0;

    background: $background-gradient;

    & > div {
      display: grid;
      max-width: 75vw;
      grid-template-columns: repeat(auto-fit, 33ch);
      row-gap: 1em;
      column-gap: 1em;
      align-items: center;
      justify-content: center;
      justify-items: center;
      
    
      img {
        width: min(250px, 75vw);
        height: min(250px, 75vw);
      }

      div {
        text-transform: uppercase;
      }

      h2 {
        font-size: inherit;

        a {
          text-decoration: none;
        }
      }
    }

    &.kontaktOpen {
      transform: translateX(-100%);
      opacity: 1;
    }
  }
}

main {

  #HeroBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  img.maps {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
  }

  $map_switcher: 600px;

  @media screen and (max-width: $map_switcher) {
    img.small {
      display: block;
    }
    img.large {
      display: none;
    }
  }
  
  @media screen and (min-width: $map_switcher) {
    img.small {
      display: none;
    }
    img.large {
      display: block;
    }
  }

  // img.small {
  //   display: none;
  // }
  
  // img.large {
  //   display: none;
  // }

  // img.small.imgOpen {
  //   display: block;
  // }
  
  // img.large.imgOpen {
  //   display: block;
  // }

  @keyframes hovering {
    0% {
      transform: translateY(0%) rotate(12deg);
    }
    100% {
      transform: translateY(15%) rotate(12deg);
    }
  }
}










// // Desgin Helper

// #DesignGrid {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 100vh;
//   z-index: 500;
  
//   display: grid;

//   div.column {
//     display: none;
//     height: 100vh;
//     background: rgba(252, 0, 151, 0.5);
//   }
  
  
// }