@use "sass:math";
@use "sass:color";

$font-scaler: 1.333;
$font-smaller: 1rem * math.pow($font-scaler, -2);
$font-small: 1rem * math.pow($font-scaler, -1);
$font-normal: 1rem * math.pow($font-scaler, 0);
$font-big: 1rem * math.pow($font-scaler, 1);
$font-bigger: 1rem * math.pow($font-scaler, 2);
$font-large: 1rem * math.pow($font-scaler, 3);
$font-color: #fff;
$dark-blue: #1e7799;
$background-gradient: radial-gradient(80% 80% at 0% 100%, hsla(285,10%,63%,1) 0%, hsla(285,10%,63%,0) 100%),
                      radial-gradient(80% 80% at 100% 0%, hsla(285,10%,63%,1) 0%, hsla(285,10%,63%,0) 100%),
                      hsla(195,46%,61%,1);

* {
  font-family: Helvetica, sans-serif;
  color: $font-color;
}

html {
  background: $background-gradient;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}

nav {
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;


  #HamburgerContainer {
    $height: 24px;
    font-size: $font-normal;
    height: $height;
    z-index: 20;
    cursor: pointer;

    #HamburgerMenu {
      position: fixed;
      top: 0;
      font-size: $font-bigger;
      left: -20ch;
      width: 20ch;
      height: 100vh;
      background: $dark-blue;
      box-sizing: border-box;
      cursor: default;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: $height * 3 0 $height * 3 3ch;
      align-items: flex-start;

      z-index: 10;
      transition: transform 400ms ease-in-out;

      a {
        font-size: inherit;
        margin: 2em 0;
        cursor: pointer;
      }
    }

    #Hamburger {
      position: relative;
      background: $font-color;
      width: 42px;
      height: 3px;
      border-radius: 8px;
      transform: translateY(math.div($height, 2));
      transition: background-color 400ms ease-in-out;
      z-index: 15;
      
      &::before, &::after {
        z-index: 15;
        transition: transform 400ms ease-in-out;
        position: absolute;
        content: '';
        width: inherit;
        height: 3px;
        background-color: $font-color;
        transform-origin: center;
      }

      &::before {
        transform: translateY(math.div($height, -2));
      }

      &::after {
        transform: translateY(math.div($height, 2));
      }
    }

    &.open {
      #Hamburger {
        background: color.adjust($font-color, $alpha: -1);

        &::before {
          z-index: 15;
          transform: rotateZ(405deg);
          background: $font-color;
        }
        
        &::after {
          z-index: 15;
          transform: rotate(-405deg);
          background: $font-color;
        }
      }

      #HamburgerMenu {
        transform: translateX(100%);
      }
    }
  }

  #Heading {
    text-align: right;
    z-index: 9;
    margin: 0 1em;
    font-size: clamp(0px, 6vw, #{$font-large});
    
    h2 {
      font-size: inherit;
      margin: 0;
      line-height: 80%;
    }

    p {
      font-size: $font-smaller;
      margin: 0;
    }
  }

  #KontaktContainer {
    width: 9ch;
    font-size: clamp(#{$font-small}, 3vw, #{$font-normal});
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    $animationDuration: 2000ms;
    cursor: pointer;
    
    img {
      width: 80%;
      transition: 200ms ease-in-out;
    }

    img:hover {
      transform: rotateZ(-12deg);
    }

    #KontaktMoverHoriz {
      transition: transform $animationDuration ease-in-out;

      &.kontaktOpen {
        transform: translateX(-88vw);
        @media screen and (max-width: 900px) {
          transform: translateX(-80vw);
        }
        @media screen and (max-width: 500px) {
          transform: translateX(calc(-50vw + 50% + 10px));
        }
      }

      #KontaktMoverVert {
        will-change: transform;
        transform: translateY(0vh);
        transition: transform $animationDuration cubic-bezier(.56,-0.21,.52,1.02) 50ms;
        display: flex;
        justify-content: center;

        &.kontaktClosed {
          transition: transform $animationDuration cubic-bezier(.51,.14,.55,1.18);
        }
        
        &.kontaktOpen {
          transform: translateY(45vh);
        }
        
        @media screen and (max-width: 500px) {
          &.kontaktOpen {
            transform: translateY(20vh);
          }
        }

        #BackArrow {
          position: absolute;
          width: 75%;
          transform: translateY(100%);
          opacity: 0;
          transition: opacity 100ms 2000ms ease-in-out;
        }

        #BackArrow.kontaktClosed {
          transition: opacity 100ms ease-in-out;
        }

        #BackArrow.kontaktOpen {
          opacity: 1;
        }

        #KontaktHeli {
          transform-origin: bottom left;
        }

        #KontaktHeli.kontaktClosed {
          animation: tilt_rev $animationDuration ease;

          @keyframes tilt_rev {
            15% {
              transform: rotateZ(12deg);
            }
            65% {
              transform: rotateZ(12deg);
            }
            90% {
              transform: rotateZ(-5deg);
            }
            100% {
              transform: rotateZ(0deg);
            }
          }
        }
        
        #KontaktHeli.kontaktOpen {
          animation: tilt $animationDuration ease;

          @keyframes tilt {
            15% {
              transform: rotateZ(-12deg);
            }
            55% {
              transform: rotateZ(-12deg);
            }
            85% {
              transform: rotateZ(5deg);
            }
            100% {
              transform: rotateZ(0deg);
            }
          }
        }
      }
    }

    p {
      margin: 0;
      margin-top: 4px;
      opacity: 1;
      transition: opacity $animationDuration;
      font-weight: bold;

      &.kontaktOpen {
        opacity: 0;
      }
    }

  }

  #KontaktSection {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: -100vw;
    z-index: 7;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 800ms ease-in-out 100ms, opacity 1000ms ease-in-out 200ms;
    transform: translateX(0%);
    opacity: 0;

    background: $background-gradient;

    & > div {
      display: grid;
      max-width: 75vw;
      grid-template-columns: repeat(auto-fit, 33ch);
      row-gap: 1em;
      column-gap: 1em;
      align-items: center;
      justify-content: center;
      justify-items: center;
      
    
      img {
        width: 250px;
        height: 250px;
      }

      div {
        text-transform: uppercase;
      }

      h2 {
        font-size: $font-big;

        a {
          text-decoration: none;
        }
      }
    }

    &.kontaktOpen {
      transform: translateX(-100%);
      opacity: 1;
    }
  }
}

main {
  h1 {
    font-size: 4rem;
    margin: 1em;
  }

  img.maps {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
  }

  @media screen and (max-width: 600px) {
    img.small {
      display: block;
    }

    img.large {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
    img.small {
      display: none;
    }
    
    img.large {
      display: block;
    }
  }


  @keyframes hovering {
    0% {
      transform: translateY(0%) rotate(12deg);
    }
    100% {
      transform: translateY(15%) rotate(12deg);
    }
  }
}