* {
  font-family: Helvetica, sans-serif;
  color: #fff;
  max-width: 2500px;
}

html {
  background: radial-gradient(80% 80% at 0% 100%, #a597aa 0%, rgba(165, 151, 170, 0) 100%), radial-gradient(80% 80% at 100% 0%, #a597aa 0%, rgba(165, 151, 170, 0) 100%), #6eb2c9;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

body {
  margin: 0;
}

nav {
  padding: 16px;
  height: 27px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
nav #HamburgerContainer {
  font-size: 1rem;
  height: 24px;
  z-index: 20;
  cursor: pointer;
}
nav #HamburgerContainer #HamburgerMenu {
  position: fixed;
  top: 0;
  font-size: 1.776889rem;
  left: -20ch;
  width: 20ch;
  height: 100vh;
  background: #1e7799;
  box-sizing: border-box;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 72px 0 72px 3ch;
  align-items: flex-start;
  z-index: 10;
  transition: transform 400ms ease-in-out;
}
nav #HamburgerContainer #HamburgerMenu a {
  font-size: inherit;
  margin: 2em 0;
  cursor: pointer;
}
nav #HamburgerContainer #Hamburger {
  position: relative;
  background: #fff;
  width: 42px;
  height: 3px;
  border-radius: 8px;
  transform: translateY(12px);
  will-change: transform;
  transition: background-color 400ms ease-in-out;
  z-index: 15;
}
nav #HamburgerContainer #Hamburger::before, nav #HamburgerContainer #Hamburger::after {
  z-index: 15;
  transition: transform 400ms ease-in-out;
  position: absolute;
  content: "";
  width: inherit;
  height: 3px;
  background-color: #fff;
  transform-origin: center;
}
nav #HamburgerContainer #Hamburger::before {
  transform: translateY(-12px);
}
nav #HamburgerContainer #Hamburger::after {
  transform: translateY(12px);
}
nav #HamburgerContainer.open #Hamburger {
  background: rgba(255, 255, 255, 0);
}
nav #HamburgerContainer.open #Hamburger::before {
  z-index: 15;
  transform: rotateZ(405deg);
  background: #fff;
}
nav #HamburgerContainer.open #Hamburger::after {
  z-index: 15;
  transform: rotate(-405deg);
  background: #fff;
}
nav #HamburgerContainer.open #HamburgerMenu {
  transform: translateX(100%);
}
nav #Heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  z-index: 9;
  margin: 0 1em;
  font-size: clamp(0px, 6vw, 2.368593037rem);
}
nav #Heading h2 {
  font-size: inherit;
  margin: 0;
}
nav #Heading p {
  font-size: 0.5627813555rem;
  margin: 0;
}
nav #KontaktContainer {
  width: 9ch;
  font-size: clamp(0.7501875469rem, 3vw, 1rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  cursor: pointer;
}
nav #KontaktContainer #KontaktHeli {
  width: 70%;
  transition: 200ms ease-in-out;
}
nav #KontaktContainer #KontaktHeli:hover {
  transform: rotateZ(-12deg);
}
nav #KontaktContainer #KontaktMoverHoriz {
  will-change: transform;
  transition: transform 2000ms ease-in-out;
}
nav #KontaktContainer #KontaktMoverHoriz.kontaktOpen {
  transform: translateX(-88vw);
}
@media screen and (max-width: 900px) {
  nav #KontaktContainer #KontaktMoverHoriz.kontaktOpen {
    transform: translateX(-80vw);
  }
}
@media screen and (max-width: 580px) {
  nav #KontaktContainer #KontaktMoverHoriz.kontaktOpen {
    transform: translateX(calc(-50vw + 50% + 16px));
  }
}
nav #KontaktContainer #KontaktMoverHoriz #KontaktMoverVert {
  will-change: transform;
  transform: translateY(0vh);
  transition: transform 2000ms cubic-bezier(0.56, -0.21, 0.52, 1.02) 50ms;
  display: flex;
  justify-content: center;
}
nav #KontaktContainer #KontaktMoverHoriz #KontaktMoverVert.kontaktClosed {
  transition: transform 2000ms cubic-bezier(0.51, 0.14, 0.55, 1.18);
}
nav #KontaktContainer #KontaktMoverHoriz #KontaktMoverVert.kontaktOpen {
  transform: translateY(45vh);
}
@media screen and (max-width: 580px) {
  nav #KontaktContainer #KontaktMoverHoriz #KontaktMoverVert.kontaktOpen {
    transform: translateY(20vh);
  }
}
nav #KontaktContainer #KontaktMoverHoriz #KontaktMoverVert #BackArrow {
  position: absolute;
  width: 75%;
  transform: translateY(100%);
  opacity: 0;
}
nav #KontaktContainer #KontaktMoverHoriz #KontaktMoverVert #BackArrow.kontaktClosed {
  transition: opacity 100ms ease-in-out;
}
nav #KontaktContainer #KontaktMoverHoriz #KontaktMoverVert #BackArrow.kontaktOpen {
  transition: opacity 100ms 2000ms ease-in-out;
  opacity: 1;
}
nav #KontaktContainer #KontaktMoverHoriz #KontaktMoverVert #KontaktHeli {
  transform-origin: bottom left;
}
nav #KontaktContainer #KontaktMoverHoriz #KontaktMoverVert #KontaktHeli.kontaktClosed {
  animation: tilt_rev 2000ms ease;
}
@keyframes tilt_rev {
  15% {
    transform: rotateZ(12deg);
  }
  65% {
    transform: rotateZ(12deg);
  }
  90% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
nav #KontaktContainer #KontaktMoverHoriz #KontaktMoverVert #KontaktHeli.kontaktOpen {
  animation: tilt 2000ms ease;
}
@keyframes tilt {
  15% {
    transform: rotateZ(-12deg);
  }
  55% {
    transform: rotateZ(-12deg);
  }
  85% {
    transform: rotateZ(5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
nav #KontaktContainer p {
  margin: 0;
  margin-top: 4px;
  opacity: 1;
  transition: opacity 2000ms;
  font-weight: bold;
}
nav #KontaktContainer p.kontaktOpen {
  opacity: 0;
}
nav #KontaktSection {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: -100vw;
  z-index: 7;
  font-size: 1.333rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 800ms ease-in-out 100ms, opacity 1000ms ease-in-out 200ms;
  transform: translateX(0%);
  opacity: 0;
  background: radial-gradient(80% 80% at 0% 100%, #a597aa 0%, rgba(165, 151, 170, 0) 100%), radial-gradient(80% 80% at 100% 0%, #a597aa 0%, rgba(165, 151, 170, 0) 100%), #6eb2c9;
}
nav #KontaktSection > div {
  display: grid;
  max-width: 75vw;
  grid-template-columns: repeat(auto-fit, 33ch);
  row-gap: 1em;
  column-gap: 1em;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
nav #KontaktSection > div img {
  width: 250px;
  height: 250px;
}
nav #KontaktSection > div div {
  text-transform: uppercase;
}
nav #KontaktSection > div h2 {
  font-size: inherit;
}
nav #KontaktSection > div h2 a {
  text-decoration: none;
}
nav #KontaktSection.kontaktOpen {
  transform: translateX(-100%);
  opacity: 1;
}

main h1 {
  font-size: 2.368593037rem;
  margin: 2.5em 3ch 0 78px;
}
main img.maps {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
@media screen and (max-width: 1150px) {
  main img.small {
    display: block;
  }
  main img.large {
    display: none;
  }
}
@media screen and (min-width: 1150px) {
  main img.small {
    display: none;
  }
  main img.large {
    display: block;
  }
}
@keyframes hovering {
  0% {
    transform: translateY(0%) rotate(12deg);
  }
  100% {
    transform: translateY(15%) rotate(12deg);
  }
}

#DesignGrid {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 500;
  display: grid;
}
#DesignGrid div.column {
  display: none;
  height: 100vh;
  background: rgba(252, 0, 151, 0.5);
}

/*# sourceMappingURL=main.css.map */
